<div class="h-90">
  <form
    [formGroup]="form"
    class="flex flex-col gap-5 justify-center items-center h-full"
  >
    <mat-form-field class="w-80" appearance="outline">
      <mat-icon matPrefix>email</mat-icon>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="example@gmail.com"
      />
      @if (emailFormControl.hasError('required')) {
      <mat-error>Email é <strong>obrigatório.</strong></mat-error>
      } @if (emailFormControl.hasError('email')) {
      <mat-error>Por favor insira um email valido.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-80" appearance="outline">
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="******"
      />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Exibir senha'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (passwordFormControl.hasError('required') &&
      !passwordFormControl.hasError('minlength')) {
      <mat-error>Senha é <strong>obrigatória.</strong></mat-error>
      } @if (passwordFormControl.hasError('minlength')) {
      <mat-error>Senha deve ter ao menos 6 caracteres.</mat-error>
      }
    </mat-form-field>
    <div class="flex justify-center">
      <button matFab type="submit" (click)="Login($event)" class="w-60!">
        Login
      </button>
    </div>
  </form>
</div>
